//COLOR VARIABLES
// $tertiary : #81B1B2; //
// $secondary : #000000; //black
// $main : #FAE894; //mellow yellow
$neutral : #FCFBE3; //creme
$dark: #181A1B; //charcoal

//MEDIA QUERY RANGES
$large : "only screen and (max-width:1200px)";
$medium : "only screen and (max-width:720px)";
$mobile : "only screen and (max-width:480px)";

//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;

}

body {
  background-color: white;
  background-image: url('/images/wood.png');
  margin: 0px;
  padding: 0px;
  font-family: Dosis;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

#navbar {
  width: 100%;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-home {
  float: right;
  background-color: orange;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  margin: 20px 10px;
}

.nav-addtask {
  float: left;
  background-color: orange;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 50px;
  text-align: center;
  border-radius: 25px;
  margin: 20px 10px;
}

.nav-login {
  float: right;
  background-color: orange;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  margin: 20px 10px;
}

#main {
  margin: auto;
  background-color:red;
}

.new-task-main {
  margin-top: 100px;
}

#newTask {
  border: 1px solid white;
  width: 100%;
}

.taskColumn {
  background:rgba(0,0,0,0.6);
  width: 31%;
  min-height: 80vh;
  height: 100%;
  float: left;
  margin: 99px 10px 20px 10px;

}

.col-title {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  font-family: Montserrat;
}

.singleTask {
  background-color: $neutral;
  border: 1px solid white;
  overflow: hidden;
  margin: 15px;
  height: 70px;
  padding: 0px 10px 10px 10px;
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
}

.singleTask:hover {
  height: 100%;
  -webkit-box-shadow: 6px 7px 29px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 29px 2px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 29px 2px rgba(0,0,0,0.75);
}

.delete-button {
  margin-top: 15px;
  float: right;
}

.formTask {
  margin-top: 100px;
}

.registerDiv {
  margin-top: 100px;
}

.loginDiv {
  margin-top: 100px;
}

.notfound {
  margin-top: 100px;
}