//COLOR VARIABLES
$tertiary : #252C7E; // dark blue
$secondary : #B10000; // red
$main : #E9CE09; //mellow yellow
$neutral : #FCFBE3; //creme
$dark: #181A1B; //charcoal

//MEDIA QUERY RANGES
$large : "only screen and (max-width:1200px)";
$medium : "only screen and (max-width:875px)";
$mobile : "only screen and (max-width:480px)";

//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  background-image: url('/images/wood.png');
  margin: 0px;
  padding: 0px;
  font-family: Dosis;
}

a:-webkit-any-link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: $secondary;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: $main;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
}

// #welcome-message {
//   float: left;
// }

.nav-btn {
  // background-color: $main;
  // width: 70px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  margin: 10px 15px 0px 5px;
  bottom: 0;
}

.nav-btn:hover {
  border-bottom: 3px solid $secondary;
}

.nav-home {
  float: right;
}

.nav-addtask {
  float: left;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 50px;
}

.nav-login {
  float: right;
}

#logout-btn {
  text-decoration: none;
  cursor: auto;
}

#main {
  margin: auto;
  min-height: 80vh;
  max-height: 100%;
  display : flex;
  flex-flow : row wrap;
  justify-content : center;
}

.full-bleed {
  width: 100%;
  height: 500px;
  background-color: $neutral;
  text-align: center;
}

.welcome {
  line-height: 500px;
  font-size: 150px;
  font-family: Dosis;
}

.new-task-main {
  // margin-top: 100px;
  background-color: pink;
}

#newTask {
  border: 1px solid white;
  width: 100%;
}

.taskColumn {
  background:rgba(255,255,255,0.8);
  width: 31%;
  min-height: 80vh;
  height: 100%;
  float: left;
  margin: 80px 10px 30px 10px;
  flex-direction: row;
}

.col-title {
  background-color: lighten($main,25%);
  text-align: center;
  color: $dark;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  font-family: Montserrat;
  border-bottom: 5px solid $tertiary;
}

.singleTask {
  background-color: $neutral;
  border: 1px solid white;
  // overflow: hidden;
  margin: 15px;
  // height: 70px;
  padding: 0px 10px 10px 10px;
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 29px -2px rgba(0,0,0,0.75);
}

.singleTask:hover {
  height: 100%;
  -webkit-box-shadow: 6px 7px 29px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 29px 2px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 29px 2px rgba(0,0,0,0.75);
}

.task-details {
  display: inline;
}

.task-details.hidden {
  display: none;
}

.editable-input {
  // width: 100%;
  // background-color: red;
}

.delete-button {
  margin-top: 15px;
  float: right;
}

.update-status-btn {
  margin: 15px 5px 0px 0px;
  float: right;
}

.registerDiv {
  margin-top: 100px;
}

.loginDiv {
  margin-top: 100px;
}

.notfound {
  margin-top: 100px;
}

//============= task block ==============

.btn-group {
  margin: 10px;
}

.group_block {
  background-color: purple;
  flex-flow: row no wrap;
}

#task_form_block {
  background-color: green;
}

.groupForm {
  padding: 10px;
  height: 100px;
  width: 300px;
}

#new_group_name {
  width: 100%;
}

.btn-primary {
  display: none;
}

.btn-default {
  display: none;
}

#createBtn {
  margin-top: 8px;
}

#footer {
  background-color: lighten($dark,10%);
  min-height : 200px;
  width : 100%;
  margin-top: 15px;
  bottom : 0;
  left : 0;
  box-shadow : rgba(0,0,0,.2) 5px 3px 5px 5px;
}