<div class="registerDiv">
  <form class="registerForm" ng-submit="">
    <fieldset>
      <div class="userNameForm">
        <label for="userNameForm">Username</label>
        <input id="userNameForm" type="text" ng-model="" />
      </div>

      <div class="pwForm">
        <label for="pwForm">Password</label>
        <input id="pwForm" type="text" ng-model="" />
      </div>

      <div class="commit">
        <button type="submit">Register</button>
      </div>
    </fieldset>
  </form>
</div>