
  <div class="new-task-main" ng-submit="addTask()">
     <div class="btn-group">
       <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         New Group
       </button>
       <div class="dropdown-menu">
         <form class="groupForm">
           <fieldset>
             <div class="new_group_name">
               <label for="new_group_name">Name of Group</label>
               <div><input type="text" id="new_group_name" ng-model="new_task_group"></div>
             </div>
            <button id="createBtn" type="submit">Create!</button>
           </fieldset>
         </form>
       </div>
     </div>

     <div class="btn-group">
       <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Join Group
       </button>
       <div class="dropdown-menu">
          <li>hello</li>
          <li>hello</li>
          <li>hello</li>
          <li>hello</li>
          <li>hello</li>
       </div>
     </div>

  <div id="task_form_block">
    <form class="formTask">
      <fieldset>
        <div class="new_task_title">
          <label for="new_task_title">New Task Title</label>
          <div><input id="new_task_title" type="text" ng-model="new_task.title" /></div>
        </div>

        <div class="new_task_desc">
          <label for="new_task_desc">Description</label>
          <div><input id="new_task_desc" type="text" ng-model="new_task.desc" /></div>
        </div>

        <div class="new_task_priority">
          <label for="new_task_priority">Priority</label>
          <div><input id="new_task_priority" type="text" ng-model="new_task.priority" /></div>
        </div>

        <div class="new_task_assignedTo">
          <label for="new_task_assignedTo">Assigned To</label>
          <div><input id="new_task_assignedTo" type="text" ng-model="new_task.assignedTo" /></div>
        </div>

        <button type="submit">Add Task</button>
      </fieldset>
    </form>
    </div>
  </div>
