body {
  background-color: gray;
}

#main {
  margin: auto;
}

#newTask {
  border: 1px solid white;
  width: 100%;
}

.taskColumn {
  width: 31%;
  height: 70vh;
  border: 1px solid white;
  float: left;
  margin: 10px;
}

.col-title {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  height: 40px;
}
