@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  box-sizing: border-box; }

body {
  background-color: white;
  background-image: url("/images/wood.png");
  margin: 0px;
  padding: 0px;
  font-family: Dosis; }

a:-webkit-any-link {
  text-decoration: none; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #B10000; }

#navbar {
  width: 100%;
  height: 60px;
  background-color: #E9CE09;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -5px 7px 29px -2px rgba(0, 0, 0, 0.75); }

.nav-btn {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  margin: 10px 15px 0px 5px;
  bottom: 0; }

.nav-btn:hover {
  border-bottom: 3px solid #B10000; }

.nav-home {
  float: right; }

.addtask {
  float: left; }

.nav-login {
  float: right; }

#logout-btn {
  text-decoration: none;
  cursor: auto; }

#main {
  margin: auto;
  min-height: 80vh;
  max-height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.full-bleed {
  width: 100%;
  height: 500px;
  background-color: #FCFBE3;
  text-align: center; }

.welcome {
  line-height: 500px;
  font-size: 150px;
  font-family: Dosis; }

.new-task-main {
  background-color: pink; }

#newTask {
  border: 1px solid white;
  width: 100%; }

.taskColumn {
  background: rgba(255, 255, 255, 0.8);
  width: 31%;
  min-height: 80vh;
  height: 100%;
  float: left;
  margin: 80px 10px 30px 10px;
  flex-direction: row; }

.col-title {
  background-color: #faea78;
  text-align: center;
  color: #181A1B;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  font-family: Montserrat;
  border-bottom: 5px solid #252C7E; }

.new_task_title {
  color: #252C7E;
  font-family: Montserrat; }

.singleTask {
  background-color: #FCFBE3;
  border: 1px solid white;
  margin: 15px;
  padding: 0px 10px 10px 10px;
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75); }

.singleTask:hover {
  -webkit-box-shadow: 6px 7px 29px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 29px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 29px 2px rgba(0, 0, 0, 0.75); }

.task-details {
  max-height: 100%;
  transition: .8s; }

.task-details.hidden {
  max-height: 0; }

.form-label {
  color: #B10000; }

.delete-button {
  margin-top: 15px;
  float: right; }

.update-status-btn {
  margin: 15px 5px 0px 0px;
  float: right; }

.registerDiv {
  margin-top: 100px; }

.loginDiv {
  margin-top: 100px; }

.notfound {
  margin-top: 100px; }

.btn-group {
  margin: 10px; }

.group_block {
  background-color: purple;
  flex-flow: row no wrap; }

#task_form_block {
  width: 400px;
  text-align: center; }

.groupForm {
  padding: 10px;
  height: 100px;
  width: 300px; }

#new_task_desc {
  height: 100px; }

#new_group_name {
  width: 100%; }

.btn-primary {
  display: none; }

.btn-default {
  display: none; }

#createBtn {
  margin-top: 8px; }

div.dropdown-menu {
  position: fixed;
  width: 400px;
  /* Set your desired with */
  z-index: 2;
  /* Make sure its above other items. */
  top: 15%;
  left: 20px;
  border: 2px solid #555555;
  background-color: #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 30px; }
  div.dropdown-menu input {
    border: 0px;
    text-align: center;
    width: 90%;
    margin: 10px; }
  div.dropdown-menu textarea {
    border: 0px;
    text-align: center;
    wrap: hard;
    width: 90%;
    margin-top: 10px; }

#footer {
  background-color: #303436;
  min-height: 200px;
  width: 100%;
  margin-top: 15px;
  bottom: 0;
  left: 0; }
