@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  box-sizing: border-box; }

body {
  background-color: white;
  background-image: url("/images/wood.png");
  margin: 0px;
  padding: 0px;
  font-family: Dosis; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: red; }

#navbar {
  width: 100%;
  height: 60px;
  background-color: #E9CE09;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75); }

.nav-btn {
  width: 70px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 10px 5px 0px 5px;
  bottom: 0; }

.nav-btn:hover {
  border-bottom: 3px solid #B10000; }

.nav-home {
  float: right; }

.nav-addtask {
  float: left;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 5px; }

.nav-login {
  float: right; }

#main {
  margin: auto; }

.new-task-main {
  margin-top: 100px; }

#main-task-container {
  background-color: red; }

#newTask {
  border: 1px solid white;
  width: 100%; }

.taskColumn {
  background: rgba(255, 255, 255, 0.6);
  width: 31%;
  min-height: 80vh;
  height: 100%;
  float: left;
  margin: 80px 10px 20px 10px; }

.col-title {
  background-color: #252C7E;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  font-family: Montserrat;
  border-bottom: 5px solid #B10000; }

.singleTask {
  background-color: #FCFBE3;
  border: 1px solid white;
  margin: 15px;
  padding: 0px 10px 10px 10px;
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.75); }

.singleTask:hover {
  height: 100%;
  -webkit-box-shadow: 6px 7px 29px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 29px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 29px 2px rgba(0, 0, 0, 0.75); }

.editable-input {
  width: 100%; }

.delete-button {
  margin-top: 15px;
  float: right; }

.formTask {
  margin-top: 100px; }

.registerDiv {
  margin-top: 100px; }

.loginDiv {
  margin-top: 100px; }

.notfound {
  margin-top: 100px; }

.btn-primary {
  display: none; }

.btn-default {
  display: none; }
